{% extends "store/base.html" %}

{% load static %}
{% block import %}
<link rel="stylesheet" type="text/css" href="{% static 'store/css/checkout.css' %}" />
{% endblock %}

{% block left_content %}
<div class="row">
    <div class="col-md-6 col-12">
        <div class="box-element">
            <a class="btn btn-outline-success" href="{% url 'store' %}">&#x2190; カートへ戻る</a>
            <br>
            <br>
            <hr>
            <h3>ご注文情報</h3>
            <hr>
            <table class="table">
                <colgroup>
                    <col>
                    <col>
                    <col>
                    <col>
                </colgroup>
                {% for item in items %}
                <tr>
                    <td>
                        <img src="{{image_base}}{{item.product.img_url}}" style="width: 40px; height: 40px;">
                    </td>
                    <td class="vertical-middle">{{item.product.name}}</td>
                    <td class="vertical-middle right-align">{{item.product.price}}</td>
                    <td class="vertical-middle right-align">x{{item.quantity}}</td>
                </tr>
                {% endfor %}
                <tr>
                    <td colspan="2">
                        合計
                    </td>
                    <td class="vertical-middle right-align" colspan="2">{{order.get_cart_total}}円</td>
                </tr>
            </table>
        </div>
    </div>
    <!-- Shipping Address (Display Mode)-->
    <div class="col-md-6 col-12">
        <div class="box-element">
            <hr>
            <h3>お届け先</h3>
            <hr>
            <p style="padding:10px">
                {{shipping_addr|safe}}
            </p>
            <hr>
            <a href="{% url 'account_address' %}">>>お届け先の追加・変更ページへ</a>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12 col-12">

    </div>
</div>
{% endblock %}