{% extends "store/base.html" %}

{% load static %}
{% block import %}
<link rel="stylesheet" type="text/css" href="{% static 'store/css/store.css' %}" />
<script type="text/javascript" src="{% static 'store/js/cart.js' %}"></script>
{% endblock %}

{% block left_content %}
<div class="row">
    {% for p in products %}
    <div class="col-md-4 col-12 my-card">
        <div class="card">
            {% with image_base|add:p.img_url as img_url %}
            <img class="card-img-top" src="{{img_url}}" alt="{{p.name}}">
            {% endwith %}
            <div class="card-body">
                <h5 class="card-title">{{p.name}}
                </h5>
                <p class="card-text">{{p.description}}</p>
                <p class="price-tag">{{p.price}}円</p>
                <button class="btn btn-outline-success add-btn update-cart btn-sm" data-product={{p.id}}
                    data-action="add">カートに追加</button>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}